<div class="container">
  <h1>Monty Hall Game</h1>

  <div id="doors">
    <div
      class="door"
      *ngFor="let door of doors; let i = index"
      [class.clickable]="state === 'PICK'"
      (click)="state === 'PICK' && pickDoor(i)"
    >
      <span *ngIf="door.revealed">{{ door.prize }}</span>
    </div>
  </div>

  <div *ngIf="state === 'REVEAL'" class="button-container">
    <button class="switch-btn" (click)="playerSwitch()" *ngIf="switchButtonVisible">Switch</button>
    <button class="stay-btn" (click)="playerStay()" *ngIf="stayButtonVisible">Stay</button>
  </div>
  <button class="play-again-btn" (click)="startOver()" *ngIf="playAgainVisible">Play</button>

  <p class="outcome">{{ outcome }}</p>

  <div class="win-rate-container">
    <p>Number of Switches: {{ totalSwitchPlays }}</p>
    <p>Number of Stays: {{ totalStayPlays }}</p>
    <p>Win Rate (Switch): {{ manullyswitchRate.toFixed(2) }}%</p>
    <p>Win Rate (Stay): {{ manullystayRate.toFixed(2) }}%</p>
  </div>

  <h3>Monty Hall Simulation</h3>
  <div class="simulation-controls">
    <label for="simulations">Number of Simulations:</label>
    <input type="number" id="simulations" [(ngModel)]="simulations" min="1" />

    <label for="changeDoor">Change the Door:</label>
    <input type="checkbox" id="changeDoor" [(ngModel)]="changeDoor" />

    <button class="start-btn" (click)="runSimulations()">Start</button>
  </div>

  
  <p>Win Rate (Switch): {{ switchRate.toFixed(2) }}%</p>
  <p>Win Rate (Stay): {{ stayRate.toFixed(2) }}%</p>
</div>
